<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Spring HTTP Invoker Sample</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/META-INF/spring/app-context-annotation-data-transactions-hibernate-home-xml.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Difference between dispatcher servlet and http request handler servler. In short, a simpler version is the http one -->
	<!-- https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/web/context/support/HttpRequestHandlerServlet.html -->
	<servlet>
		<servlet-name>serviceExporter</servlet-name>
		<servlet-class>
			org.springframework.web.context.support.HttpRequestHandlerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contactExporter</servlet-name>
		<url-pattern>/remoting/SpringService</url-pattern>
	</servlet-mapping>
</web-app>